$base-background: white;
$black: #000;
$border: #CCC;
$base-primary-font-color: #333;
$base-secondary-font-color: #888;
$base-third-font-color: #BBB;
$bg-color-search-bar: #f8f9fa;
$border-bottom: #dee2e6;
$app-item-bg-color-hover: #eee;