@import "_variables.scss";

body{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: $base-background;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#app-loader {
    justify-content: center;
    margin: 1rem;
}

.spinner-overlay {
    position: fixed;
    top: calc(50% - 0.5rem * 2);
    right: 0;
    bottom: 0;
    left: 0;

    .spinner {
        margin: 0 3rem;
        display: flex;
        justify-content: center;

        vertical-align: middle;
        display: flex;
        justify-content: center;
    }
}

.spinner {
    margin: 0 3rem;
    display: flex;
    justify-content: center;
}

.apps-container {
    margin-top: 0.5rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}